@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.btn {
    @include btnLayout(transparent, $color-green);
    transition: all .3s;

    &:hover {
        background-color: $color-green;
        color: $color-grey-dark;
        border: 1px solid transparent;
        transform: translateY(-.7rem);
    }

    &:active {
        transform: scale(.9);
    }
}
