@import '../../sass/variables.scss';

.about {
    height: 70vh;
    background-color: $color-grey-dark;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;

        hr {
            min-width: 35rem;
            transform: rotate(90deg);
        }
    }

    &_title {
        text-align: center;

        h2 {
            font-size: 8rem;

            span {
                display: block;
                text-align: right;
            }
        }
    }

    &_description {
        max-width: 40%;

        p {
            font-size: 2rem;
        }
    }
}

@media (max-width: 1100px) {
    .about {

        &_content {

            hr {
                min-width: 25rem;
            }
        }

        &_title {

            h2 {
                font-size: 5rem;
            }
        }

        &_description {

            p {
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .about {

        &_content {
            flex-direction: column;

            hr {
                transform: rotate(0);
                min-width: 25rem;
                margin-bottom: 4rem;
            }
        }

        &_title {
            margin-bottom: 2rem;

            h2 {
                font-size: 5rem;

                span {
                    display: inline;
                }
            }
        }

        &_description {
            max-width: 80%;

            p {
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
}
