@import './variables.scss';

// main styling for website
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // global definition setting for 1rem (10px)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: $main-font;
    color: $color-white;
}

// default styles for headings
h1 {
    font-size: 6rem;
    font-weight: 300;
}

h2 {
    font-size: 3.5rem;
    font-weight: 100;
}

h3 {
    font-size: 2rem;
    font-weight: 100;
}

span {
    color: $color-primary;

    &.block {
        display: block;
        text-align: right;
    }
}

// wrapper for scrolling context - used for the parallax effect in header
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1rem;
}
