// imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

// colors
$color-primary: #2C4FF4;
$color-primary-light: #5E7AFF;
$color-primary-dark: #001FB5;

$color-grey-dark: #212634;
$color-grey-light: #6F7C9C;

$color-white: #fff;
$color-black: #000;

$color-green: #15CE81;

$color-react: #61DBFB;
$color-js: #F0DB4F;
$color-html: #e34c26;
$color-css: #264de4;
$color-sass: #cc6699;

// fonts
$main-font: 'Montserrat', sans-serif;
