// imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

// colors
$color-primary: #2C4FF4;
$color-primary-light: #5E7AFF;
$color-primary-dark: #001FB5;

$color-grey-dark: #212634;
$color-grey-light: #404B69;

$color-white: #fff;
$color-black: #000;

// fonts
$main-font: 'Montserrat', sans-serif;
