.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_content {
        max-width: fit-content;
        padding: 3rem;
        margin-top: 20rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5rem;

        opacity: 0;
        transform: translate3d(15%, 0, 0);
        transition: all 2s;
    }

    &_content___visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    &_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        h2 {
            font-size: 6rem;
        }

        p {
            font-size: 2rem;
            font-weight: 100;
            margin-left: .6rem;
        }
    }

    &_boxes {
        display: flex;
        gap: 20rem;
    }
}

@media (width < 700px) {
    .contact {

        &_boxes {
            flex-direction: column;
            margin-left: 3rem;
            gap: 5rem;
        }
    }
}

@media (width < 620px) {
    .contact {
        justify-content: center;

        &_content {
            margin-top: 0;
        }

        &_title {

            h2 {
                text-align: center;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}

@media (width < 425px) {
    .contact {

        &_title {

            h2 {
                font-size: 5rem;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media (prefers-reduced-motion) {
    .contact {

        &_content {
            transform: translate3d(0, 0, 0);
            transition: none;
        }
    }
}
