@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.contact {
    @include flex(1rem);
    min-width: 20%;

    i {
        font-size: 5rem;
    }

    &_icon {
        border-radius: 50%;
        padding: 2rem;
        background-color: $color-grey-dark-icon;
        box-shadow: $small-box-shadow;
    }

    &_content {
        @include flex-vertical-justify-center(1rem);

        p {
            font-size: 2rem;
        }

        a {
            font-size: 1.5rem;
            color: $color-grey-light;
        }
    }
}

@media (width < 800px) {
    .contact {

        i {
            font-size: 3rem;
        }

        &_content {

            p {
                font-size: 1.5rem;
            }

            a {
                font-size: 1.2rem;
            }
        }
    }
}
