@import '../../sass/variables.scss';

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    user-select: none;
    transform-style: preserve-3d;
    z-index: -1;

    &_background {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom,
        rgba($color-primary-dark, .8),
        rgba($color-primary-light, .8)),
        url(images/hero_bg.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
        transform: translateZ(-1rem) scale(2.05);

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(.6rem);
        }
    }

    &_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translate3d(0, 10rem, -.2rem);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        opacity: 0;
        transition: all 2s;

        &___visible {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        img {
            max-width: 20rem;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;
        }

        h2 {
            letter-spacing: .6rem;
        }
    }

    &_icons {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        font-size: 4rem;

        li {
            transition: all .4s;
            cursor: pointer;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}
