@import '../../sass/variables.scss';

.projects {
    background-image: url(images/projects.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right 5% bottom 10%;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 8rem;
        margin: 10rem 0;
    }
}

@media (width < 425px) {
    .projects {

        h2 {
            font-size: 5rem;
        }
    }
}
