@import '../../sass/variables.scss';

.projects {
    position: relative;
    background-color: $color-grey-dark;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 8rem;
        margin: 10rem 0;
    }
}
